*{
    font-family: 'Poppins', sans-serif;
}
p{
    margin: 0;
}
body{
    background-color: #faf8f0;
    color: #988876;
}
.full-height-container{
    min-height: 100vh;
}

.menu-container{
    max-width: 380px;
    background-color: #eae7d9; ;
}

.btn{
    background-color: #9c8978;
    color: white;
    border: none;
    transition: .2s ease;
}

.btn-secondary:hover, .btn-warning:hover, .btn-info:hover, .btn-success:hover{
    font-weight: bold;
    color: white;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #e36443;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e36443;
  --bs-btn-hover-border-color: #e36443;
  --bs-btn-focus-shadow-rgb: 225,83,97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e36443;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

.btn-warning{
  --bs-btn-color: #fff;
  --bs-btn-bg: #efcd5f;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #efcd5f;
  --bs-btn-hover-border-color: #efcd5f;
  --bs-btn-focus-shadow-rgb: 225,83,97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #efcd5f;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #469de4;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #469de4;
  --bs-btn-hover-border-color: #469de4;
  --bs-btn-focus-shadow-rgb: 225,83,97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #469de4;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

.game_title{
    font-size: 32px;
}

.p2{
    font-size: 42px;
    font-weight: bold;
    color: #469de4;
}
.p1{
    font-size: 42px;
    font-weight: bold;
    color: #e36443;
}